#pag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    flex-direction: row;
}

.img1{
    opacity: 1;
    transition: opacity 2s;
}
.img1:hover{
    opacity: 0.5;
}
.img2{
    transition: transform 2s;
    transform-origin: bottom left;
}
.img2:hover{
    /* transform: scaleX(-1);
    transform: scaleY(-1); */
    transform: scale(1.3);
}
.img3{
    transition: border-radius 2s;
}
.img3:hover{
   border-radius: 30px;
}

.img4{
    transition:transform 10s;
    transition-timing-function: ease-in;
}
.img4:hover{
   transform: scale(0.1);
}
.img5{
    position: relative;
    top: 0;
    opacity: 1;
    transition:transform 10s;
    transition-timing-function: ease-out;
}
.img5:hover{
    top: 400px;
    opacity: 0;
   transform: translateY(400px);
}
.img6 {
    transition: display 2s;
}

.img6:hover{
    display: none;
}
