* {
    box-sizing: border-box;
    margin: 0;
}

#cubo {
    position: relative;
    width: 800px;
    height: 600px;
    perspective: 1000px;
    perspective-origin: 30%;
}

#cubo>div {
    width: 200px;
    height: 200px;
    position: absolute;
    transition: all 2s;
}

#front {
    background-color: red;
    left: 400px;
    top: 200px;
    opacity: 0.8;
}

#back {
    background-color: yellow;
    left: 0px;
    top: 200px;
}

#cubo:hover>#back {
    transform-origin: right;
    transform: rotateY(180deg); 
    translate: 200px 0px -200px;
}

#left {
    background-color: green;
    left: 200px;
    top: 200px;
}

#cubo:hover>#left {
    transform: rotateY(-90deg);
    transform-origin: right;
}

#right {
    background-color: salmon;
    left: 600px;
    top: 200px;
}

#cubo:hover>#right {
    transform: rotateY(90deg);
    transform-origin: left;
}

#up {
    background-color: brown;
    left: 400px;
    top: 0;
}

#cubo:hover>#up {
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#down {
    background-color: blue;
    top: 400px;
    left: 400px;
}

#cubo:hover>#down {
    transform: rotateX(-90deg);
    transform-origin: top;
}