@font-face {
    font-family: 'GreatViber-Regular';
    src: url(../font/GreatVibes-Regular.ttf);
}
body {
    position: relative;
    background: #3F3F3F;
}

#about {
    font-size: 10vmax;
}
.con-title{
    margin-top: 10px;
    font-size: xx-large;
    font-weight: 900;
}

.text-naranjilla {
    color: #FEAE65;
}

.text-negrito {
    color: #3F3F3F;
}

.bg-naranjilla {
    background-color: #FEAE65;
}

a:hover {
    color: #3F3F3F;
}

.footerBg {
    background-image: url(../imgs/footer.png);
}

.bocataIzq {
    width: 90%;
    height: 150px;
    background: #FEAE65;
    border-radius: 20px 20px 20px 0px;
}
.bocataDer{
    width: 90%;
    height: 150px;
    border-radius: 20px 20px 0px 20px;
    background: #ff9203;
}
.right-0{
    right: 0px;
}
.top-5{
    top: 5px;
}
.bot-10{
    bottom: 10px;
}
.con-content{
    height: 0;
    padding: 0 !important;
    border: 1px solid #3F3F3F;
    border-radius: 30px;
}

.desplegar:hover + *{
    height: auto;
    padding: auto;
}