@font-face {
    font-family: 'GreatViber-Regular';
    src: url(../font/GreatVibes-Regular.ttf);
}
body {
    margin: 0 auto;
    padding: 0 auto;
}

.container {
    visibility: hidden;
}

body {
    position: relative;
    background: #3F3F3F;
}

h1 {
    font-family: 'GreatViber-Regular';
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

.text-naranjilla {
    color: #FEAE65;
}

.text-negrito {
    color: #3F3F3F;
}

.bg-naranjilla {
    background-color: #FEAE65;
}

.card-body:hover > a{
    color: #3F3F3F;
    text-decoration: line-through !important;
}

.footerBg {
    width: 100%;
    background-image: url(../imgs/footer.png);
}
